/* Root */
:root {
    --background: #D9D9D9;
    --background2: #E8E8E8;
    --primary: #F08400;
    --secondary: #193386;
    --black: #131313;
}
* { padding: 0; margin: 0; font-family: Ruluko; }
/* Global */
body { background: var(--background); }
header {
    /* width: 80%; */
    text-transform: uppercase;
    box-shadow: 0px 5px 20px var(--black);
    /* max-height: 100px; */
    margin: auto;
}
.space60 { margin-bottom: 160px; }
a { text-decoration: underline; font-style: none; color: var(--black); }
li { list-style: none; }
button { 
    padding: 5px; 
    background: none;
    font-weight: bold;
    border: none;
    font-size: 20px;
    border-bottom: 1px dotted black;
}
.center-vertical {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    justify-content: center;
}
.container { width: 80%; }
/* Specific */
/* Nav ===========================================*/
nav {
    padding: 20px 0px; 
    width: 80%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
nav ul { 
    display: flex;
    align-items: center;
}
nav li {
    margin-left: 50px; 
    /* padding-top: 100px; */
}
.relative {
    position: relative;
}
.dropdown-content {
    display: none;
    min-width: 200px;
    position: absolute; 
    z-index: 1;
}
.dropdown-content a {
    display: block; 
    margin-bottom: 10px;
}
.relative:hover .dropdown-content {
    display: block; 
}
/* Landing ===========================================*/
.landing {
    /* width: 80%; */
    margin: auto;
    /* border: 1px dotted black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.landing .left {
    flex: 1;
    /* background: white; */
}
.right {
    flex: 1;
    
}
.switch { 
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.switch button {
    background: #E8E8E8;
    width: 48%;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #929292;
}
.side-content {
    background: #E8E8E8;
    border-radius: 5px;
    padding: 20px 40px;
}
.side-content img {
    border-radius: 10px;
}
.content .flex {
    display: flex;
    justify-content: space-between;
}
.content h1 {
    text-align: center;
    margin-bottom: 20px;
    opacity: .5;
}
.content .flex div {
    padding: 0px 15px;
}
.content .flex p {
    margin-bottom: 5px;
}
/* Add Event ===========================================*/
.addEvent {
    margin: auto;
}
.addEvent h1{
    font-size: 30px; 
    text-align: center;
    margin-bottom: 40px; 
    margin-top: 70px; 
}
.addEvent input {
    width: 60%;
    padding: 5px; 
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.addEvent form {
    width: 50%;
    margin: auto;
}
.addEvent form p {
    text-align: center;
}
.addEvent form div {
    display: flex;
    justify-content: space-between;
}
.addEvent form button {
    margin: auto;
    display: block;
    margin-top: 50px;
}


/* Display Item ===========================================*/
.inventory {
    width: 90%;
    margin: auto;
}
.inventory h1 {
    margin-top: 40px; 
    font-size: 40px;
    text-align: center;
}
.goods {
    background: var(--background2);
    padding: 30px; 
    border-radius: 5px;
    box-shadow: 5px 5px 2px #929292;
}
.goods table {
    width: 100%;
    margin: auto; 
    /* background: gray; */
}
.goods h2 {
    text-align: center;
}
.goods table {
    border-collapse: collapse;
}
.goods th {
    background: var(--primary);
}
.goods tr:nth-child(even) {
    background: var(--background);
}
.goods th, .goods td {
    border: 1px solid black;
    padding: 3px;
}


/* Login Page ===========================================*/
.login {
    width: 70%;
    margin: auto;
    text-align: center; 
    margin-top: 150px;
}
.login input {
    padding: 4px; 
    background: none;
    border-radius: 5px; 
}

.login p, .login h1 { margin-bottom: 20px; }

/* Display Member*/

.ketua, .sekretaris, .koordinator {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.sek-ben {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.d-sekretaris, .d-bendahara {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.cnt-potrait {
    text-align: center;
}
.cnt-img {
    background-image: url('images/Logo Kabinet.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
