<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BEM FIKOM | 23 / 24{% endblock %}</title>
    <link rel='stylesheet' type='text/css' href={% static 'source.css' %}>
    </head>
<body>
    <header>
        <nav class='container'>
            <a href='/'>
                <h1>ISCA.LAB</h1>
            </a>
            <ul>
                <li><a href='#'>About</a></li>
                <li><a href='#'>Sign in</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>